    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/">장고 게시판</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="board">Board</a></li>
                    <li><a class="nav-link scrollto" href="https://klas.kw.ac.kr" target="_blank">KLAS</a></li>

                    <li class="getstarted"><a href="#about">Get Started</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->